JWT_SECRET=change_me_generate_with_openssl_rand_hex_32
IP_ENCRYPTION_KEY=change_me_generate_with_openssl_rand_hex_32
JUICEHOST_API_KEY=change_me
TICKET_JWT_SECRET=change_me_optional_defaults_to_JWT_SECRET
RUST_LOG=info
IP_PEPPER=
SMTP_PASSWORD=
COBALT_API_KEY=
COBALT_SESSION_API_KEY=
CF_API_TOKEN=
S3_ACCESS_KEY=
S3_SECRET_KEY=
SENTRY_DSN=
SENTRY_DSN_JUICEBACK=
SENTRY_DSN_JUICEHOST=
SENTRY_DSN_JUICEFRONT=
SENTRY_DSN_UI=
